.head-banner {
    height:5vh;
    font-size: 3vh;
    width:100vw;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    text-align:center;
    padding-top:2vh;
}

.footer-wrapper {
    z-index:3;
    width:100vw;
    background-color:#FFFFFF;
    -border-top:0.4px solid red;
}

.footer-control {
    height: 5vh;
    font-size:3vh;
    border:solid red;
    border-width:0.4px 0.4px 0px 0.4px;
    border-radius:30px 30px 0px 0px;
    width:100vw;
    z-index:1000;
    background-color:#FFFFFF;
    -webkit-box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
    -moz-box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
    box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
}

.footer-tab {
    position:relative;
    top:2vh;
    height: 10vh;
    margin-right: 3vw;
    border:solid red;
    border-width:0.6px 0.6px 0px 0.6px;
    border-radius:30px 30px 0px 0px;
    background-color: #FFFFFF;
    min-width: 20vw;
    display:inline-block;
    padding-top:2vh;
    text-align: center;
    z-index: 1050;
    -webkit-box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
    -moz-box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
    box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
}

.footer-anchor {
    border:solid red;
    border-width:0.6px 0.6px 0px 0.6px;
    border-radius:30px 30px 0px 0px;
    background-color: #FFFFFF;
    min-width: 100vw;
    min-height: 5vh;
    z-index:1100;
    display:inline-block;
    -webkit-box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
    -moz-box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
    box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
}

.footer-overlay {
    font-size: 3vh;
    position:relative;
    border:solid red;
    border-width:0.6px 0.6px 0px 0.6px;
    border-radius:30px 30px 0px 0px;
    background-color: #FFFFFF;
    min-width: 100vw;
    min-height: 5vh;
    z-index:1500;
    padding-top:2vh;
    text-align: center;
    display:inline-block;
    -webkit-box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
    -moz-box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
    box-shadow: 0px -25px 50px 0px rgba(196, 125, 125, 0.4);
}

.white-bottom {
    -border-bottom: 40px solid #FFFFFF;
}